body {
  --primary-color: #8ea4ed;
  --secondary-color: #e092d2;
  --tertiary-color: #f0ceaf;

  --bg-color: white;
  --border-color: lightgray;
  --disabled-color: gray;
  --hover-color: var(--primary-color);
  --input-bg-color: white;
  --text-color: darkblue;

  --input-border-width: 0;
  --transition-duration: 1s;

  font-family: sans-serif;
  margin: 0;
}

body.dark-mode {
  --primary-color: #363e59;
  --secondary-color: #593a54;
  --tertiary-color: #594d41;

  --bg-color: white;
  --disabled-color: lightgray;
  --input-bg-color: #444;
  --input-border-width: 2px;
  --text-color: white;

  /*
  --bg-color: black;
  --input-bg-color: gray;
  --primary-color: purple;
  --secondary-color: red;
  --tertiary-color: yellow;
  --text-color: white;
  */
}

button {
  background-color: var(--secondary-color);
  border: none;
  border-radius: 0.5rem;
  color: var(--text-color);
  padding: 0.5rem;
  transition: background-color var(--transition-duration);
  transition: color var(--transition-duration);
}

button.bare {
  background-color: transparent;
  border: none;
  color: var(--text-color);
  font-size: 1.2rem;
  outline: none;
  padding: 0;
}

button.bare:hover {
  background-color: transparent;
  outline: 1px solid var(--border-color);
}

button:hover {
  background-color: var(--hover-color);
}

input {
  background-color: var(--input-bg-color);
  border: var(--input-border-width) solid var(--border-color);
  border-radius: 4px;
  color: var(--text-color);
  padding: 0.5rem;
}

input[type='checkbox'] {
  --size: 1rem;

  appearance: none;
  height: var(--size);
  margin: 0 0.5rem 0 0;
  position: relative;
  width: var(--size);
}

input[type='checkbox']:checked::after {
  content: '\2713';
  position: absolute;
  top: 0;
  left: 3px;
}
